#pesquisa{
    padding: 10px;
    margin-top: 15px;
}
#cPesquisa{
    height: 30px;
    width: 300px;
}
#cSub{
    width: 50px;
    height: 30px;
    background-color: white;
    color:#1A2828;
    border: none;
}
#pesquisa input{
    border-radius: 20px;
    border: none;
}


footer .formulario{
    display: flex;
    justify-content: center;
    padding: 30px;
}

footer #faixa{
    background-image: url(https://images.pexels.com/photos/17132265/pexels-photo-17132265/free-photo-of-exterior-do-edificio-fachada-rude-aspero.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 17px;
}
.formulario h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

label{
    display: block;
    margin-top: 10px;
}
  
.formulario input, .formulario textarea {
    width: 400px;
    padding: 5px;
}
  
.formulario button{
    padding: 10px 20px;
    background-color: #986c49;
    color: #fff;
    border: none;
    display: block;
    width: 411px;
    margin: 0 auto;
    margin-top: 5px;
}

.formulario h2{
    float: left;
    width: 400px;
    left: 10px;
    position: relative;
    display: flex;
    align-items: center;
}